################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/JG.RecycleBinRobot/bin/Debug
/JG.RecycleBinRobot/obj/Debug
/JG.RecycleBinRobot/publish
/.vs/JG.RecycleBinRobot/v16/.suo
/JG.RecycleBinRobot/JG.RecycleBinRobot_TemporaryKey.pfx
