################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/JG.RecycleBinRobot
/.vs/JG.RecycleBinRobot/v16
